*.suo
*.dll
*.pdb
*.cache
*.vsix
*.nupkg
*.resources
RoslynDemo/RoslynDemo.Test/bin/Release/Newtonsoft.Json.xml
RoslynDemo/RoslynDemo.Test/obj/Release/CodeChecker.Test.csproj.FileListAbsolute.txt
RoslynDemo/RoslynDemo/bin/Release/Newtonsoft.Json.xml
RoslynDemo/RoslynDemo/obj/Release/CodeChecker.csproj.FileListAbsolute.txt
RoslynDemo/RoslynDemo.Test/obj/Debug/CodeChecker.Test.csproj.FileListAbsolute.txt
RoslynDemo/RoslynDemo.Test/obj/Debug/build.force
